$primary: #30ADF2 !default;
$secondary: #657580 !default;
$success: #4EB26F !default;
$info: #E7DFC6 !default;
$warning: #F6BD60 !default;
$danger: #EA3C53 !default;
$light: #FCF9F8 !default;
$dark: #2C4251 !default;
