// $color1: #26547c;
$color1: #141E25;
$color2: #7A7978;
$color3: #30ADF2;
$color4: #27ae60;
$color5: #ef476f;
$color6: #EF767A;
$color7: #FFD275;
$color8: #F8FBFB;
$color9: #EEEBD0;

$primary: $color3 !default;
$secondary: $color1 !default;
$success: $color4 !default;
$info: $color7 !default;
$warning: $color6 !default;
$danger: $color5 !default;
$light: $color8 !default;
$dark: $color2 !default;
$bg-dark: $color1 !default;
