@font-face {
  font-family: 'Open Sans';
  font-weight: lighter;
  font-style: normal;
  src:font-url('OpenSans-Light.ttf') format('ttf');
};

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src:font-url('OpenSans-Regular.ttf') format('ttf');
};

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: italic;
  src:font-url('OpenSans-Italic.ttf') format('ttf');
};

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  src:font-url('OpenSans-SemiBold.ttf') format('ttf');
};

@font-face {
  font-family: 'Open Sans';
  font-weight: bolder;
  font-style: normal;
  src:font-url('OpenSans-Bold.ttf') format('ttf');
};

@font-face {
  font-family: 'Comfortaa';
  font-weight: bold;
  font-style: normal;
  src:font-url('Comfortaa-Bold.ttf') format('ttf');
};
