html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $light;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
table {
  width: 80%;
}
tbody {
  background-color: $color10;
}
select {
  border: 1px solid $color9;
}
form {
  select {
    width: 100%;
    padding: 3px 0 3px 0;
  }
  .alert {
    margin-bottom: 15px;
  }
}
footer {
  position: relative;
  margin-top: -80px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  height: 80px;
  clear: both;
  width: 100%;
  height: 80px;
  background-color: $bg-dark;
  color: $light;
  a {
    text-decoration: none;
    color: inherit;
    :visited {
      color: inherit;
    }
  }
  div.main-area {
    margin-top: 10px;
    font-size: 0.9rem;
    display: block;
    text-align: center;
    div {
      margin: 0;
      padding: 0;
      p {
        margin: 0;
      }
    }
  }
}
input#user_remember_me {
  margin-right: 5px;
}
#wrap {
  min-height: 100%;
  padding-top: 56px;
}
#main {
  overflow: auto;
  padding-bottom: 85px;
}
td.main {
  a {
    text-decoration: none;
    width: 100%;
    display: block;
    color: inherit;
    :visited {
      color: inherit;
    }
  }
}
td.sets > ol {
  padding-left: 10px;
  margin: 0;
  li {
    text-align: left;
    margin-left: 5px;
  }
  hr {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}
.alert, .notice {
  margin-bottom: 0;
}
.alert {
  color: $danger;
}
.notice {
  color: $success;
}
.bg-dark {
  background-color: $bg-dark !important;
}
.has-error {
  label, span {
    color: $danger;
  }
}
.action-links {
  text-align: center;
  margin-bottom: 15px;
  a {
    margin: auto 20px;
  }
}
.btn-main-action {
  float: right;
  margin: auto;
  display: block;
  max-width: 50%;
  margin-bottom: 20px;
}
.row {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.col-md-auto {
  margin: 10px auto;
  p {
    text-align: center;
  }
}
.feedback-message {
  text-align: center;
}
.title {
  margin-bottom: 20px;
  text-align: center;
}
.main-content {
  text-align: justify;
  display: block;
  margin: auto;
  min-width: 350px;
}
.signup-link {
  margin-left: 15px;
}
.signup-link, .login-link {
  text-decoration: none;
  color: $light;
  :visited {
    color: $light;
  }
}
.navbar-brand {
  color: $light;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 25px;
}
.nav-item {
  a {
    color: $color8 !important;
  }
  a:hover {
    color: $color3 !important;
  }
}
.navbar-nav > .active {
  a {
    color: $color3 !important;
  }
  a:hover {
    color: $color8 !important;
  }
}
.devise-links {
  text-align: center;
  a {
    margin-top: 10px;
    display: inline-block;
  }
}
.sets, .reps, .weight, .duration, .distance {
  text-align: center;
}
.index {
  padding: 0 !important;
}
.btn-remove-exercise {
  width: 144px;
}
.btn-cancel-account {
  width: 180px;
  margin-top: 0 !important;
}
.btn-edit-exercises {
  width: 140px;
  margin-top: 0 !important;
}
.help-block {
  margin-left: 10px;
}
.feedback-message > div, .feedback-message > div > .alert {
  margin-bottom: 0;
  padding-bottom: 0;
}
.reset-password {
  text-align: center;
  margin-bottom: 5px;
}
label[for=routine_exercise_sets],
label[for=workout_exercise_sets] {
  display: none;
}
a.add_fields {
  margin-top: 5px;
  margin-bottom: 20px;
}
.nested-fields.form-inline {
  padding-left: 2px;
}
.exercise-index-main-actions {
  height: 40px;
  margin-bottom: 10px;
  select {
    height: 30px;
    width: 250px;
    margin-top: 5px;
  }
  a {
    margin: 0;
  }
}
select[id="body_part_id"][class="exercises-index"] {
  height: 30px;
  margin-bottom: 20px;
}
.restore-exercise-structure,
.weight-measure-unit,
.length-measure-unit {
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid;
  border-color: $color9;
  border-radius: 10px;
}
.restore-exercise-structure {
  padding-top: 15px;
  padding-bottom: 14px;
}
.weight-measure-unit,
.length-measure-unit {
  padding-top: 15px;
  padding-bottom: 8px;
  select {
    margin-left: 10px;
    border-color: $dark;
    width: 160px;
  }
}
.exercise_body_parts {
  label.control-label {
    display: block;
  }
  span.checkbox {
    display: block;
    label {
      display: inline;
      input {
        margin-right: 5px;
      }
    }
  }
}
.exercise_fields {
  label[for=exercise_fields] {
    display: block;
  }
  span {
    display: block;
    label {
      display: inline;
      input {
        margin-right: 5px;
      }
    }
  }
}
div.dashboard {
  a.btn-main-action {
    color: $color1;
    background-color: $color9;
  }
  a.btn-main-action:hover {
    color: $color9;
    background-color: $color1;
  }
  .exercise-index-main-actions {
    select {
      width: 250px;
    }
  }
}
.settings-feedback, .settings-alert, .settings-notice {
  display: none;
}
.units {
  margin-bottom: 10px;
  div {
    select {
      margin-left: 9px;
      width: 55px;
    }
    select#routine_exercise_length_unit,
    select#workout_exercise_length_unit {
      margin-left: 12px;
    }
  }
}
