@import "custom";
@import "bootstrap";

table {
  width: 80%;
}

footer {
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: $bg-dark;
  color: $light;
  a {
    text-decoration: none;
    color: inherit;
    :visited {
      color: inherit;
    }
  }
  div.main-area {
    margin-top: 10px;
    font-size: 0.9rem;
    display: block;
    text-align: center;
    div {
      margin: 0;
      padding: 0;
      p {
        margin: 0;
      }
    }
  }
}

td.main {
  a {
    text-decoration: none;
    width: 100%;
    display: block;
    color: inherit;
    :visited {
      color: inherit;
    }
  }
}

th.action, td.action {
  text-align: center;
}

.alert {
  margin-bottom: 0;
  color: $success;
}

.bg-dark {
  background-color: $bg-dark !important;
}

.has-error {
  label, span {
    color: $danger;
  }
}

.action-links {
  text-align: center;
  a {
    margin: auto 20px;
  }
}

.btn-main-action {
  float: right;
  margin: auto;
  display: block;
  max-width: 50%;
  margin-bottom: 20px;
}

.row {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-top: 56px;
  width: 100%;
}

.col-md-auto {
  margin: 10px auto;
  p {
    text-align: center;
  }
}

.feedback-message {
  text-align: center;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.main-content {
  text-align: justify;
  display: block;
  margin: auto;
  min-width: 350px;
}

@media (max-width: 992px) {
  table {
    width: 100%;
  }
  th.large, td.large {
    display: none;
  }
  th.action, td.action {
    text-align: center;
    min-width: 15px;
    max-width: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  footer {
    padding-top: 15px;
    padding-bottom: 20px;
    div {
      font-size: 0.6rem;
    }
  }
  .content {
    margin-bottom: 100px;
  }
  .row {
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
  .btn-main-action {
    float: none;
  }
}
