@import 'custom';
@import 'fonts';
@import 'bootstrap';

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-rendering: optimizeLegibility;
}

table {
  width: 80%;
}

form {
  select {
    border: 1px solid $secondary;
    width: 100%;
    padding: 3px 0 3px 0;
    margin-bottom: 15px;
  }
}

footer {
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: $bg-dark;
  color: $light;
  a {
    text-decoration: none;
    color: inherit;
    :visited {
      color: inherit;
    }
  }
  div.main-area {
    margin-top: 10px;
    font-size: 0.9rem;
    display: block;
    text-align: center;
    div {
      margin: 0;
      padding: 0;
      p {
        margin: 0;
      }
    }
  }
}

td.main {
  a {
    text-decoration: none;
    width: 100%;
    display: block;
    color: inherit;
    :visited {
      color: inherit;
    }
  }
}

th.action, td.action {
  text-align: center;
}

.alert, .notice {
  margin-bottom: 0;
}

.alert {
  color: $danger;
}

.notice {
  color: $success;
}

.bg-dark {
  background-color: $bg-dark !important;
}

.has-error {
  label, span {
    color: $danger;
  }
}

tr.mobile-view {
  display: none !important;
}

tr.web-view {
  display: table-row !important;
}

.action-links {
  text-align: center;
  a {
    margin: auto 20px;
  }
}

.btn-main-action {
  float: right;
  margin: auto;
  display: block;
  max-width: 50%;
  margin-bottom: 20px;
}

.row {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-top: 56px;
  width: 100%;
}

.col-md-auto {
  margin: 10px auto;
  p {
    text-align: center;
  }
}

.feedback-message {
  text-align: center;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.main-content {
  text-align: justify;
  display: block;
  margin: auto;
  min-width: 350px;
}

.signup-link {
  margin-left: 15px;
}

.signup-link, .login-link {
  text-decoration: none;
  color: $light;
  :visited {
    color: $light;
  }
}

.navbar-brand {
  color: $light;
}

.devise-links {
  text-align: center;
  a {
    margin-top: 10px;
    display: inline-block;
  }
}

@media (max-width: 992px) {
  table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    font-size: 0.85rem;
  }
  th.large, td.large {
    display: none;
  }
  th.action, td.action {
    text-align: center;
    width: 35px;
    min-width: 35px;
    max-width: 40px;
  }
  td {
    display: table-cell;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin: auto;
    vertical-align: middle;
  }
  td, th {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .sets, .reps {
    width: 40px;
    min-width: 40px;
  }
  .weight, .duration {
    width: 60px;
    min-width: 60px;
  }
  .comments {
    padding-left: 8px !important;
    text-align: left;
  }
  .title.date {
    font-size: 1.5rem;
  }
  td.main.center {
    text-align: center;
  }
  td.date, th.date {
    width: 175px;
    min-width: 175px;
  }
  th.main, td.main {
    text-align: left;
    padding-left: 4px !important;
  }
  footer {
    padding-top: 5px;
    padding-bottom: 15px;
    div {
      font-size: 0.7rem;
    }
  }
  tr.mobile-view {
    display: table-row !important;
  }
  tr.web-view, td.web-view {
    display: none !important;
  }
  .feedback-message > div, .feedback-message > div > .alert {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .content {
    margin-bottom: 100px;
  }
  .row {
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
  .btn-main-action {
    float: none;
  }
  .btn-remove-exercise {
    width: 144px;
  }
}
