@import 'custom';
@import 'fonts';
@import 'notifications';
@import 'bootstrap';

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $light;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-rendering: optimizeLegibility;
}
table {
  width: 80%;
}
form {
  select {
    border: 1px solid $secondary;
    width: 100%;
    padding: 3px 0 3px 0;
  }
  .alert {
    margin-bottom: 15px;
  }
}
footer {
  position: relative;
  margin-top: -80px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  height: 80px;
  clear: both;
  width: 100%;
  height: 80px;
  background-color: $bg-dark;
  color: $light;
  a {
    text-decoration: none;
    color: inherit;
    :visited {
      color: inherit;
    }
  }
  div.main-area {
    margin-top: 10px;
    font-size: 0.9rem;
    display: block;
    text-align: center;
    div {
      margin: 0;
      padding: 0;
      p {
        margin: 0;
      }
    }
  }
}
input#user_remember_me {
  margin-right: 5px;
}
#wrap {
  min-height: 100%;
  padding-top: 56px;
}
#main {
  overflow: auto;
  padding-bottom: 85px;
}
td.main {
  a {
    text-decoration: none;
    width: 100%;
    display: block;
    color: inherit;
    :visited {
      color: inherit;
    }
  }
}
td.sets > ol {
  padding-left: 10px;
  margin: 0;
  li {
    text-align: left;
    margin-left: 5px;
  }
  hr {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}
.alert, .notice {
  margin-bottom: 0;
}
.alert {
  color: $danger;
}
.notice {
  color: $success;
}
.bg-dark {
  background-color: $bg-dark !important;
}
.has-error {
  label, span {
    color: $danger;
  }
}
.action-links {
  text-align: center;
  margin-bottom: 15px;
  a {
    margin: auto 20px;
  }
}
.btn-main-action {
  float: right;
  margin: auto;
  display: block;
  max-width: 50%;
  margin-bottom: 20px;
}
.row {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.col-md-auto {
  margin: 10px auto;
  p {
    text-align: center;
  }
}
.feedback-message {
  text-align: center;
}
.title {
  margin-bottom: 20px;
  text-align: center;
}
.main-content {
  text-align: justify;
  display: block;
  margin: auto;
  min-width: 350px;
}
.signup-link {
  margin-left: 15px;
}
.signup-link, .login-link {
  text-decoration: none;
  color: $light;
  :visited {
    color: $light;
  }
}
.navbar-brand {
  color: $light;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 25px;
}
.nav-item {
  a {
    color: $color8 !important;
  }
  a:hover {
    color: $color3 !important;
  }
}
.navbar-nav > .active {
  a {
    color: $color3 !important;
  }
  a:hover {
    color: $color8 !important;
  }
}
.devise-links {
  text-align: center;
  a {
    margin-top: 10px;
    display: inline-block;
  }
}
.sets, .reps, .weight, .duration {
  text-align: center;
}
.index {
  padding: 0 !important;
}
.btn-remove-exercise {
  width: 144px;
}
.btn-cancel-account {
  width: 180px;
  margin-top: 0 !important;
}
.btn-edit-exercises {
  width: 140px;
  margin-top: 0 !important;
}
.help-block {
  margin-left: 10px;
}
.feedback-message > div, .feedback-message > div > .alert {
  margin-bottom: 0;
  padding-bottom: 0;
}
.reset-password {
  text-align: center;
  margin-bottom: 5px;
}
label[for=routine_exercise_sets],
label[for=workout_exercise_sets] {
  display: none;
}
div.routine_exercise_exercise_sets_duration,
div.workout_exercise_exercise_sets_duration {
  input {
    margin-right: 10px;
  }
}
a.add_fields {
  margin-top: 5px;
  margin-bottom: 20px;
}
.nested-fields.form-inline {
  padding-left: 2px;
}

// Web view
@media (min-width: 992px) {
  .web-view {
    display: inherit !important;
  }
  .mobile-view {
    display: none !important;
  }
  .col-md-auto {
    margin-top: 0;
    width: 90%;
  }
  .btn-main-action {
    margin-top: 30px;
    float: none;
  }
  .btn-main-action.new-resource {
    float: right;
  }
  nav {
    height: 56px;
  }
  tr.web-view {
    display: table-row !important;
  }
  td.web-view {
    display: table-cell !important;
  }
  th.action, td.action {
    text-align: center;
    width: 70px;
    min-width: 70px;
    max-width: 70px;
  }
  table {
    min-width: 60%;
    max-width: 80%;
  }
  input.numeric {
    max-width: 100px;
  }
  input.string, input.password, select {
    max-width: 50%;
  }
  h1, h2 {
    text-align: center;
  }
  form.simple_form {
    max-width: 60%;
    margin: auto;
    input {
      max-width: 100%;
    }
  }
  select#routine_id {
    height: 32px;
    max-width: 60%;
  }
  div.dashboard {
    text-align: center;
    a {
      display: inline-block;
      margin: 10px 5px 30px 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 150px;
    }
    .web-view > .carousel > .carousel-inner > .carousel-item {
      margin-top: 0;
    }
  }
  div.routine_exercise_exercise_sets_reps,
  div.routine_exercise_exercise_sets_weight,
  div.routine_exercise_exercise_sets_duration,
  div.workout_exercise_exercise_sets_reps,
  div.workout_exercise_exercise_sets_weight,
  div.workout_exercise_exercise_sets_duration {
    margin-bottom: 5px !important;
    input {
      width: 80px !important;
      margin-left: 10px;
      margin-right: 20px;
    }
  }
  a.remove_fields {
    margin-bottom: 5px !important;
  }
  .carousel-item {
    margin: 80px auto 0 auto;
  }
}
div.dashboard {
  a.btn-main-action {
    color: $color1;
    background-color: $color9;
  }
  a.btn-main-action:hover {
    color: $color9;
    background-color: $color1;
  }
}

// Mobile view
@media (max-width: 992px) {
  .web-view {
    display: none !important;
  }
  .mobile-view {
    display: inherit !important;
  }
  nav {
    min-height: 56px;
  }
  table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    font-size: 0.85rem;
  }
  th.large, td.large {
    display: none;
  }
  th.action, td.action {
    text-align: center;
    width: 35px;
    min-width: 35px;
    max-width: 40px;
  }
  td {
    display: table-cell;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin: auto;
    vertical-align: middle;
    a {
      white-space: normal;
    }
  }
  td, th {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  div.home-images > img {
    width: 100%;
  }
  td.main.center {
    text-align: center;
  }
  td.date, th.date {
    width: 175px;
    min-width: 175px;
  }
  th.main, td.main {
    text-align: left;
    padding-left: 4px !important;
  }
  footer {
    div {
      font-size: 0.7rem;
    }
  }
  tr.mobile-view {
    display: table-row !important;
  }
  td.mobile-view {
    display: table-cell !important;
  }
  div.dashboard {
    display: block;
    margin-top: 20px;
  }
  div.nested-fields {
    .routine_exercise_exercise_sets_reps,
    .routine_exercise_exercise_sets_weight,
    .routine_exercise_exercise_sets_duration,
    .workout_exercise_exercise_sets_reps,
    .workout_exercise_exercise_sets_weight,
    .workout_exercise_exercise_sets_duration {
      margin-bottom: 5px !important;
      input {
        width: 80px !important;
        margin-left: 0px;
        margin-right: 10px;
      }
    }
  }
  a.remove_fields {
    margin-bottom: 0 !important;
    height: 2px;
  }
  .sets, .reps {
    width: 40px;
    min-width: 40px;
  }
  .weight, .duration {
    width: 60px;
    min-width: 60px;
  }
  .comments {
    padding-left: 8px !important;
    text-align: left;
  }
  .title.date {
    font-size: 1.5rem;
  }
  .content {
    margin-bottom: 100px;
  }
  .row {
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
  .row.index {
    margin-top: 60px !important;
  }
  .btn-main-action {
    float: none;
  }
  div#wrap.index {
    background-color: $bg-dark;
  }
}
