<p><%= t(:greeting, scope: [:devise, :mailer, :unlock_instructions], recipient: @resource.email) %></p>

<p><%= t(:message, scope: [:devise, :mailer, :unlock_instructions]) %></p>

<p><%= t(:instruction, scope: [:devise, :mailer, :unlock_instructions]) %></p>

<p><%= link_to t(:action, scope: [:devise, :mailer, :unlock_instructions]), unlock_url(@resource, unlock_token: @token) %></p>
