= f.input :reps, input_html: { class: 'form-input form-control' }
= f.input :weight, input_html: { class: 'form-input form-control' }
= f.input :duration, input_html: { class: 'form-input form-control' }
= link_to_remove_association 'Remove Set', f, class: 'form-button btn btn-default'