= simple_form_for @body_part, html: { class: 'form-horizontal' } do |f|
  = f.error_notification
  = f.input :name, label: t(:name, scope: [:common])
  = f.button :submit, value: t(:save, scope: [:body_parts]), class: 'btn btn-primary btn-main-action'